@using RoutineCatalogue.Models.ViewModels
@model ExerciseViewModel
<div class="col-lg-12">
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <span class="actions">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close <i class="far fa-window-close"></i></button>
        </span>
    </div>
</div>

